@import './base.css';
@import './news.css';

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 1110px;
  padding-top: 120px;
  padding-bottom: 200px;
}

.main-content {
  grid-area: main-content;
}

.product-category-group {
  grid-area: product-category-group;
  display: flex;
  gap: 30px;
}

.product-category {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.product-category:hover .product-categoey-shop > span {
  color: var(--peru);
}

.product-category > img {
  object-fit: contain;
  max-width: 70%;
  max-height: 70%;
}

.product-categoey-content {
  width: 100%;
  position: absolute;
  top: 25%;
  height: 75%;
  background-color: var(--anti-flash-white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 15px;
}

.product-category > img {
  z-index: 1;
}

.product-categoey-name {
  font-size: 18px;
  letter-spacing: 1.29px;
  font-weight: bold;
}

.product-categoey-shop {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 57px;
}

.product-categoey-shop > span {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 50%;
}

.product-group {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 168px;
}

.product {
  border-radius: 8px;
}

.product:first-child {
  height: 560px;
  background-color: var(--peru);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.product:first-child > div {
  display: flex;
  justify-content: center;
}

.product:first-child img {
  width: 410px;
  height: 493px;
}

.product:first-child .product-content {
  display: flex;
  flex-direction: column;
  width: 349px;
  height: 303px;
  margin-left: 138px;
}

.product:first-child .product-content .product-content-name {
  margin-bottom: 24px;
}

.product:first-child .product-content .product-content-description {
  opacity: 75%;
  margin-bottom: 40px;
}

.product:nth-child(2) {
  position: relative;
}

.product:nth-child(2) img {
  border-radius: 8px;
}

.product:nth-child(2) .product-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding-left: 95px;
}

.product:nth-child(2) .product-content span {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

.product:nth-child(3) {
  display: flex;
  gap: 30px;
}

.product:nth-child(3) span {
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: bold;
}

.product:nth-child(3) img {
  border-radius: 8px;
}

.product:nth-child(3) .product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  border-radius: 8px;
  width: 100%;
  background-color: var(--anti-flash-white);
  padding-left: 95px;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  main {
    max-width: 689px;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .product-category-group {
    gap: 10px;
  }

  .product-category {
    height: 217px;
    width: 223px;
  }

  .product-group {
    width: 100%;
  }

  .product:first-child {
    height: 720px;
    align-items: center;
  }

  .product:first-child img {
    width: 197px;
    height: 237px;
    margin-bottom: 64px;
  }

  .product:first-child .product-content {
    text-align: center;
    align-items: center;
    margin-left: 0px;
  }

  .product:first-child > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product:nth-child(3) {
    width: 100%;
    gap: 11px;
  }

  .product:nth-child(3) img {
    width: 339px;
  }

  .product:nth-child(3) .product-content {
    width: 339px;
    padding-left: 40px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  main {
    max-width: 327px;
    padding-top: 40px;
    padding-bottom: 120px;
  }

  .product-category-group {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .product-group {
    gap: 24px;
    margin-top: 120px;
  }

  .product:nth-child(2) img {
    width: 100%;
  }

  .product:nth-child(2) .product-content {
    top: 0;
    left: 0;
    padding-left: 24px;
  }

  .product:nth-child(3) {
    flex-direction: column;
  }

  .product:nth-child(3) .product-content {
    box-sizing: border-box;
    height: 200px;
    padding-left: 24px;
  }
}
